@use '../../styles/vars.scss';

.rating {
    grid-column: -1/-1;
    justify-self: end;
    @include vars.flexCenter(row, flex-start);
    gap: vars.$space-xs;
}

.numOfReviews {
    color: vars.$clr-text-secondary;
}
