@use "../../styles/vars.scss";

.cart {
  margin: 0 auto;
  max-width: 860px;
  padding: vars.$space-section-padding vars.$space-lg;
  @include vars.flexStart(column, space-evenly);
  gap: vars.$space-xl;
}

.payBtn {
  width: 100%;
  margin-top: vars.$space-lg;
  background-color: vars.$clr-header;
  color: vars.$clr-text-primary;
  padding: vars.$space-md vars.$space-xxl;
  position: relative;
  border: 1px solid transparent;
  z-index: 1;
  font-weight: 400;
  text-transform: uppercase;
  &:hover {
    color: vars.$clr-text-primary;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: vars.$clr-background;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: vars.$transition-transform;
  }
  &:hover::before,
  &:focus::before {
    transform: scaleX(1);
  }
}

.redirect {
  align-self: center;
  padding: vars.$space-lg;
  font-size: vars.$fs-lg;
  a {
    color: vars.$clr-text-secondary;
  }
}
