@use '../../styles/vars.scss';

.cartItem {
    display: grid;
    place-content: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 300px;
    gap: vars.$space-xl;
    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }
}

.cartItemPrice {
    color: vars.$clr-text-secondary;
}

.cartItemImage {
    height: 100%;
    width: 100%;
}

.cartItemImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cartItemContent {
    align-self: center;
    @include vars.flexStart(column, center);
    gap: vars.$space-xs;
    @media screen and (max-width: 500px) {
        align-self: auto;
    }
}

.cartItemInfo {
    color: vars.$clr-text-secondary;
}

.cartItemQuantity {
    margin-top: vars.$space-xl;
    @include vars.flexCenter(row, space-between);
    gap: vars.$space-lg;
}
