@use "../../styles/vars.scss";

.cart {
  margin: 0 auto;
  max-width: 860px;
  padding: vars.$space-section-padding vars.$space-lg;
  @include vars.flexStart(column, space-evenly);
  gap: vars.$space-xl;
}

.cartRedirect {
  align-self: center;
  padding: vars.$space-lg;
  font-size: vars.$fs-lg;
}

.cartRedirect a {
  color: vars.$clr-text-secondary;
}
