@use "../../styles/vars.scss";
.wrapper {
  display: flex;
  border: 1px solid rgba(vars.$clr-text-secondary, 0.2);

  input {
    color: inherit;
    border: none;
    border: 0;
    max-width: 20px;
    text-align: center;
  }
}

.btn {
  border: none;
  padding: vars.$space-sm vars.$space-sm;
}
