@use '../../styles/vars.scss';

.rating {
    @include vars.flexStart(row, flex-start);
}

.rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: vars.$fs-lg;
    transition: vars.$transition-all;
}

.star {
    font-size: vars.$fs-lg;
}

.starOn {
    color: vars.$clr-stars;
}

.starOff {
    color: #ccc;
}
