@use "../../styles/vars.scss";

.wrapper {
  position: absolute;
  @include vars.flexCenter(column, center);
  top: 100%;
  width: 100%;
  padding: vars.$space-md vars.$space-xl;
  z-index: 1;
  background-color: vars.$clr-background;
  color: vars.$clr-text-secondary;
  box-shadow: 0 -1px #e7e7e7 inset;
}

.inner {
  @include vars.flexCenter(row, space-between);
  gap: vars.$space-sm;
  width: 100%;
  padding: vars.$space-sm;
}

.inner input {
  width: 100%;
  outline: none;
  border: none;
  &::placeholder {
    font-size: vars.$fs-md;
  }
}

.closeBtn {
  color: inherit;
  border: none;
  background-color: transparent;
  @include vars.flexCenter(row, center);
}

.results {
  align-self: flex-start;
  padding: vars.$space-xxs vars.$space-md;
}

.result {
  padding: vars.$space-sm;
  width: 100%;
  border: none;
  outline: none;
  color: vars.$clr-text-secondary;
  background-color: transparent;
  transition: vars.$transition-all;
  a {
    color: inherit;
    font-size: vars.$fs-md;
  }
  &:hover {
    color: vars.$clr-main-text;
  }
}
